.fileuploadmulti .fileuploadmulti-ui.form-control {
    padding: 0px;
    overflow: hidden;
    margin-bottom: 10px;
    isolation: isolate;
 }

.fileuploadmulti input[type="file"] {
    display: none;
}

.fileuploadmulti .fileuploadmulti-ui {
    display: flex;

    position: relative;
    cursor: pointer;

}


.fileupload .fileupload-ui:after {
    content: 'Browse';
    display: block;
    padding: 0 10px;

    color: #495057;
    content: "Browse";
    background-color: #e9ecef;

    border-left: 1px solid #ced4da;

    display: flex;
    align-items: center;
}

.fileuploadmulti .fileuploadmulti-ui .fileupload-display {
    flex: 1 1 100%;
    height: calc(1.5em + .75rem + 2px);
    position: relative;
    justify-content: space-between;

    display: flex;
    align-items: center;
    padding: 0 10px;

    max-width: 100%;

}

.fileuploadmulti .fileupload-ui .fileupload-display .fileupload-text {
    position: relative;
    z-index: 11;
}

.fileuploadmulti-ui:not(.uploading) .fileupload-text {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 0.5rem;
    align-items: center;
}

.fileuploadmulti-ui:not(.uploading) .fileupload-text:not(:has(.fileupload-label)) {
    grid-template-columns: 1fr;
}



.fileuploadmulti-ui .fileupload-text .fileupload-filename { 
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-size: 0.9em; */
}

.fileuploadmulti-ui:not(.has-file) .fileupload-label input {
    display: none;
}

.fileuploadmulti-ui .fileupload-label input {
    width: 100%;
    height: auto;
    padding: 0 0.25rem;
    /* font-size: 0.9em; */
    margin: 0px 0;
    /* border: 0; */
    /* padding: 0.25rem; */
}


.fileuploadmulti .fileupload-display .fileupload-progress {

    position: absolute;
    background: #efefef;
    z-index: 10;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;

}

.fileuploadmulti .fileupload-reset {
    display: none;
}

.fileuploadmulti .fileupload-reset:before {
    margin: 0 !important;
}

.fileuploadmulti.has-file .fileupload-reset {
    /* display: inline-block; */
    position: relative;
    z-index: 11;
    
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.9rem; 
    margin-left: 10px;

    width: 1.4rem;
    height: 1.4rem;
    padding: 0.25rem;
}

.fileuploadmulti-ui.error {
    background: var(--danger);
}

.fileuploadmulti-ui.error .fileupload-progress {
    background: rgba(255, 255,255,0.9) !important;
    right: 0 !important;
}

.fileuploadmulti-ui.error .fileupload-text {
    font-weight: bold;
}