.fileuploadmulti .form-control {
    padding: 0px;
    overflow: hidden;
    margin-bottom: 10px;
    isolation: isolate;
 }

.fileuploadmulti input[type="file"] {
    display: none;
}

.fileuploadmulti .fileuploadmulti-ui {
    display: flex;

    position: relative;
    cursor: pointer;

}


.fileupload .fileupload-ui:after {
    content: 'Browse';
    display: block;
    padding: 0 10px;

    color: #495057;
    content: "Browse";
    background-color: #e9ecef;

    border-left: 1px solid #ced4da;

    display: flex;
    align-items: center;
}

.fileuploadmulti .fileuploadmulti-ui .fileupload-display {
    flex: 1 1 100%;
    height: calc(1.5em + .75rem + 2px);
    position: relative;
  

    display: flex;
    align-items: center;
    padding: 0 10px;

    max-width: 100%;

}

.fileuploadmulti .fileupload-ui .fileupload-display .fileupload-text {
    position: relative;
    z-index: 11;
}


.fileuploadmulti .fileupload-display .fileupload-progress {

    position: absolute;
    background: #efefef;
    z-index: 10;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;

}

.fileuploadmulti .fileupload-reset {
    display: none;
}

.fileuploadmulti .fileupload-reset:before {
    margin: 0 !important;
}

.fileuploadmulti.has-file .fileupload-reset {
    /* display: inline-block; */
    position: relative;
    z-index: 11;
    
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.9rem; 
    margin-right: 10px;

    width: 1.4rem;
    height: 1.4rem;
    padding: 0.25rem;
}

.fileuploadmulti-ui.error {
    background: var(--danger);
}

.fileuploadmulti-ui.error .fileupload-progress {
    background: rgba(255, 255,255,0.9) !important;
    right: 0 !important;
}

.fileuploadmulti-ui.error .fileupload-text {
    font-weight: bold;
}